{% extends "base.html" %}
{% load static%}
<html>
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'story3.css' static %}">
    <title>Syanne Limarwan</title>
    </head>
    {%block content%}
    <body id="page2"> 
      <div class ="cm">
      <h1 id="cme">CONTACT ME.</h1>
      </div>
      <div class = "contact">
      <h1>
        Let’s get in touch!</br>
        syannelimarwan@gmail.com
      </h1>
      <h1></br>
        Be down to work together. </br>
        Find more about me at these places.
      </h1>
      </div>
      <div class="row">
        <div class="col-md-6"><div class ="medsos">
          <a href= "mailto:syannelimarwan@gmail.com" target="_blank"> <img src="{% static 'email.png' static %}" alt="mail" class="icon"></a>
          <a href="http://instagram.com/syannelimarwan/" target="_blank"><img src="{%static 'ig.png' static%}" alt="ig" class="icon"></a>
          <a href="http://wa.me/087888585247" target="_blank"><img src="{%static 'wa.png' static%}" alt="phone" class="icon"></a>            <a href="https://twitter.com/syhsynn" target="_blank"><img src="{%static 'twitter.png' static%}" alt="twitter" class="icon"></a>
        </div>
        <div class="col-md-6"></div>
      </div>     
    </body>
    {%endblock%}
</html>