{% extends "base.html" %}
{% load static%}
<html>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'story3.css' static %}">
        <title>Syanne Limarwan</title>
    </head>
    {%block content%}
    <body id="page1"> 
        <div class="row">
                <div class="col-md-6">
                    <div class="awal">
                        <h1 id="halo">Hello, I'm</br>
                        Syanne Limarwan</h1> 
                        <div class = "inpen">an IT student at Universitas Indonesia</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'syanne-removebg-preview.png' static %}" alt="fotoku">
              </div>
        </div>

        <h1 id="me">About Me</h1>
        <h4 id="info">Second-year Undergraduate Information System
        </br> student at Universitas Indonesia who is seeking for
        </br> an experience in Marketing, Tech, and Graphic 
        </br>Design Department. A hardworking and creative 
        </br>person who is very adaptive in a new environment.
        </h4>

        <h1 id="edu">Education</h1>
        <ul style="list-style:none;" id="eduinfo">
            <li>Universitas Indonesia</li>    
            <li>SMAK 5 Penabur</li>
            <li>SMP Universal</li>
            <li>SD Universal</li>
        </ul>


        <h1 id="exp">Experience</h1>
        <ul style="list-style-type:none;" id="expinfo">
            <li><b>Computer Gets Together</b></br>
                Staff of event</li>
            <li><b>BEM Fasilkom UI</b></br>
                Staff of seni budaya</li>
            <li><b>COMPFEST</b></br>
                Staff of direct marketing</li>
            <li><b>KMB UI</b></br>
                Staff of public relation</li>
        </ul>

        <h1 id="skills">Skills</h1>
        <ul style="list-style-type:none;" id="skillsinfo">
            <li>python</br>
                java</br>
                html</li>                   
            <li>english</li>                  
            <li>public speaking</li>              
            <li>figma</br>
                adobe photoshop</li>
        </ul>
    </body>
    {%endblock%}
</html>